body {
  background-image: url("./assests/v602-nunoon-33-rippednotes.jpg");
  background-size: auto 25%; 
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.content-container {
  padding-top: 10px;
  margin: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 15px;
}

.highlight {
  color: #76cddb;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-text{
  padding: 25px;
  margin: 15px;
  border-radius: 15px;
  background-color: white;
  width: 400px;
  height: 200px;
  text-align: left;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
.form-text:focus{
  outline: none;
  border: 1px solid #76cddb;
  background-color: white;
}
.form-text:hover{
  background-color: white;
}
.form-text:active{
  border: 1px solid #76cddb;
  background-color: white;
}
.result{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  text-align: left;
  color: rgb(39, 37, 37);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}
.gen-button{
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  width: 100px;
  height: 50px;
  text-align: center;
  background-color: #76cddb;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  border: none;
  color: black;
}
.gen-button:hover{
  border: none;
  background-color: hsl(188, 58%, 56%);
  color: black;
}